{{ $version := site.Params.katex.version | default "0.16.0" -}}
{{ $options := site.Params.katex.options -}}

{{/* load stylesheet and scripts for KaTeX support from CDN to avoid 404 font issues */ -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@{{ $version }}/dist/katex.min.css" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@{{ $version }}/dist/katex.min.js" crossorigin="anonymous"></script>

{{/* Add support for displaying chemical equations and physical units by loading the mhchem extension: */ -}}
{{ if .mhchem -}}
  <script defer src="https://cdn.jsdelivr.net/npm/katex@{{ $version }}/dist/contrib/mhchem.min.js" crossorigin="anonymous"></script>
{{ end -}}

{{/* To automatically render math in text elements, include the auto-render extension: */ -}}
<script defer src="https://cdn.jsdelivr.net/npm/katex@{{ $version }}/dist/contrib/auto-render.min.js" crossorigin="anonymous"
  onload="renderMathInElement({{ site.Params.katex.html_dom_element | default "document.body" | safeJS }}, {
    delimiters: {{ $options.delimiters | jsonify | safeJS }},
    throwOnError: {{ cond (isset $options "throwonerror") $options.throwonerror false }},
    errorColor: {{ $options.errorcolor | default "#CD5C5C" | jsonify | safeJS }}
  });">
</script>
